<!DOCTYPE html>
<html>
<head>
	<title>Hello Vue!</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="app" v-if="userList.length > 0">
	<div v-if="isAlertVisible" class="alert-box">
		<p>{{alertMessage}}</p>
	</div>
		<table border="1">
			<tr>
				<td colspan="5"><button @click="addRow(userList.length)">挿入</button></td>
			</tr>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">名前</th>
				<th scope="col">性別</th>
				<th scope="col">アドレス</th>
				<th scope="col">操作</th>
			</tr>
			<tr v-for="(user,index) of userList" :key="user.userId">
				<td><input type="text" v-model="user.userId" readonly="true" /></td>
				<td><input type="text" v-model="user.userName"
					:readonly="user.isReadonly" /></td>
				<td><input type="text" v-model="user.userSex"
					:readonly="user.isReadonly" /></td>
				<td><input type="text" v-model="user.address"
					:readonly="user.isReadonly" /></td>
				<td><button @click="deleteUser(index)">削除</button>
					<button v-show="user.isShowUpdateButton"
						@click="updateButton(index)">更新</button>
					<button type="submit" v-show="user.isShowSaveButton"
						@click="saveButton(user,index)">保存</button></td>
			</tr>
		</table>
	</div>
</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/index.js"></script>
</html>